<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Completa i tuoi dati mancanti</h2>
        <button type="button" class="btn-close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">

          <!-- Ciclo dinamico dei campi -->
          <div *ngFor="let field of validationFields" class="form-group">
            <label [for]="field">{{ validationRules[field].label || field }}</label>

            <input [id]="field" [type]="validationRules[field].type || 'text'" [formControlName]="field"
              class="form-control" />

            <!-- Messaggi di errore -->
            <div class="text-danger" *ngIf="form.get(field)?.touched && form.get(field)?.errors">
              <div *ngIf="form.get(field)?.hasError('required')">Campo obbligatorio</div>
              <div *ngIf="form.get(field)?.hasError('pattern')">Formato non valido</div>
            </div>
          </div>

          <div class="modal-actions modal-footer">
            <button class="btn btn-secondary" type="submit" [disabled]="form.invalid">Salva</button>
            <button class="btn btn-primary" type="button" (click)="onClose()">Chiudi</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>