<!-- Form Anagrafica -->
<section class="container" *ngIf="userData">
  <header>Anagrafica utente</header>
  <form class="form" action="#">
    <div class="column">
      <div class="input-box">
        <label>Username:</label>
        <input [value]="userData.username" type="text" disabled>
      </div>
      <div class="input-box">
        <label>Email:</label>
        <input [value]="userData.email" type="text" disabled>
      </div>
    </div>
    <div class="column">
      <div class="input-box">
        <label>Cellulare:</label>
        <input [value]="userData.cellulare || 'Non inserito'" disabled>
      </div>
      <div class="input-box">
        <label>Data di Nascita:</label>
        <input [value]="userData.dataNascita || 'GG/MM/AAAA'" type="text" disabled>
      </div>
    </div>
    <div class="column">
      <div class="input-box address">
        <label>Indirizzo:</label>
        <input [value]="userData.indirizzo || 'Nessun Indirizzo'" type="text" disabled>
      </div>
      <input [value]="userData.citta || 'Nessuna Città'" type="text" disabled>
    </div>
    <div class="column">
      <input [value]="userData.provincia || 'Provincia non inserita'" type="text" disabled>
      <input [value]="userData.cap || 'CAP non inserito'" type="text" disabled>
    </div>
    <div class="input-box">
      <label>Codice Fiscale:</label>
      <input [value]="userData.codiceFiscale || 'Non inserito'" type="text" disabled>
    </div>
    <div class="column">
      <input [value]="userData.iban || 'IBAN non registrato'" type="text" disabled>
    </div>
    <p><strong>Ruoli:</strong> {{ userData.ruoli.join(', ') || 'Nessuno' }}</p>
    <p><strong>Commesse:</strong> {{ userData.commesse_id.join(', ') || 'Nessuna' }}</p>
    <p><strong>Documenti:</strong> {{ userData.documenti_id.join(', ') || 'Nessuno' }}</p>
    <button type="submit" (click)="apriWidget()">Modifica</button>
  </form>
</section>

<app-home-modal
  *ngIf="showWidget"
  [formData]="userData"
  (datiCompilati)="onDatiCompilati($event)"
  (chiudi)="onChiudiWidget()">
</app-home-modal>